$focus-image: image_url("homepage-focus.png");
$green-logo: image_url("green-logo.png");

.home-a-tag {
  margin-left: 2%;
}

.home-logo-img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.home-logo-text {
  vertical-align: middle;
  font-size: 1.3em;
  font-family: 'Crimson Text', serif;
  color: #3dbe60
}

.home-navbar {
  overflow: hidden;
  background-color: white;
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px;
}

.home-navbar a {
  color: #383838;
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  min-width: 68px;
  transition: .4s;
  padding: 20px;
}

.home-navbar a:not(:first-child) {
  margin-top: 14px;
  font-weight: 600;
  font-size: 14px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.home-navbar a:hover {
  background-color:white;
  color: #0dc23d;
}

.fa-linkedin, .fa-github {
  font-size: 20px;
}

#nav-demo {
  padding:0;
  float: right;
  margin-right: 10%;
  margin-top: 15px;
  font-family: 'Nunito Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 4px;
  transition: .4s;
}

#nav-demo:hover {
 border: 2px solid #0dc23d;
 color: #0dc23d;
}

#no-space {
  padding:15px 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size:14px;
}

.home-slide {
  float: left;
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 3.5%;
  margin-bottom: 50px;
  max-width: 800px;
  padding: 5px;
  padding-right: 40px;
  width: 46%;
  transition: .5s;
}

.slider-big {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
  font-size: 82px;
}

.slider-small {
  font-family: gotham, helvetica, arial, sans-serif;
  letter-spacing: 0.8px;
  padding-left: 20px;
  padding-right: 55px;
  font-size: 18px;
  color: #b4b4b4;
  transition: .5s;
}

.first-splash {
  margin-top:15px;
  width: 100%;
}

.home-signup-text {
  padding-left: 20px;
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.splash-container {
  margin-top: 60%;
  padding-bottom: 60px;
  
  .splash-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
      
    .splash-img-div {
        display: block;
          
    .splash-img {
        width: 456px;
        height: 456px;
    }
  }

  .splash-content {
    max-width: 300px;
    margin-left: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
      
    h1 {
      margin-bottom: 40px; 
      font-family: 'Arimo', sans-serif;
      font-size: 26px;
      font-weight: 700;
    }
      
    .signup-link {
      margin: 30px;
      text-decoration: none;
      
      a {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-bottom: 5px;
        color: #3dbe60;
        transition: 0.3s linear;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        color: #363636;
      }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .home-slide {
    margin-left: 3.5%;
    margin-right: 3.5%;
    max-width: none;
    width: 91%;
  }
}

@media screen and (max-width: 900px) {
  .splash-container {
    margin-top: 100%;
  }
}

@media screen and (max-width: 700px) {
  .splash-container {
    margin-top: 1000px;
  }
}

@media screen and (max-width: 900px) {
  .home-navbar a:not(:first-child) {
    display: none;
  }
  .home-navbar div a {
    display: none;
  }
  #nav-demo {
    display: block;
  }
}

.focus-splash {
  margin-top: 140px;
  padding-top: 80px;
  height: 700px;
  width: 100%;
  text-align: center;
  background-color: #eeeeee;

  .big-word {
    font-family: "Soleil_Light",
    Helvetica,
    Arial,
    sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
    transform: scale(1, 0.95);
    color: #383838;
    margin-bottom: 50px;
  }

  .focus-image-div {
    margin-top: 40px;
    margin-bottom: 60px;
    height: 120px;

    .focus-image {
      margin: 0 auto;
      background-image: $focus-image;
      background-size: 100%;
      width: 110px;
      height: 100%;
    }
  }

  .focus-text {
    display: inline-block;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    line-height: 48px;
    color: #888b8d;
    font-family: "Soleil_Light",
    Helvetica,
    Arial,
    sans-serif;
    font-weight: 200;
    text-align: center;
    vertical-align: text-top;
    letter-spacing: 1.4px;
  }
}

.links-splash {
  height: 800px;
  padding: 30px;

  .logo-div {
    margin-top: 80px;
    margin-bottom: 40px;

    .green-logo {
      background-image: $green-logo;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 40px;
      height: 40px;
      display: inline-block;
    }

    span {
      font-size: 34px;
      font-weight: bold;
      vertical-align: baseline;
      position: relative;
      bottom: 10px;
      left: 10px;
    }
  }

  .line-break {
    width: 100%;
    border: 2px solid rgb(114, 114, 114);
    margin-bottom: 20px;
  }

  .line-break2 {
    width: 100%;
    border: 0.5px solid #d8d8d8;
    margin-top: 20px;
  }

  .copyright {
    margin-top: 30px;
    color: #888888;
    font-size: 14px;
    font-weight: 200;
    font-family: "Soleil_Light",
        Helvetica,
        Arial,
        sans-serif;

    .slp {
      float: right;
      color: #888888;
      font-size: 14px;
      margin-left: 60%;
      font-family: "Soleil_Light",
          Helvetica,
          Arial,
          sans-serif;
  
      span {
        margin-right: 20px;
      }
    }
  }


  .content2 {
    margin-left: 90%;
    margin-top: 100px;

    a {
      color: black;
      text-decoration: none;
      margin-right: 40px;
      transition: 0.2s;
      font-size: 30px;
    }

    a:hover {
      color: #0dc23d;
    }
  }

  .content {
    max-width: 1220px;
    margin: 0 auto;

    .links {
      div {
        display: inline-block;
        width: 16.666%;
        vertical-align: text-top;
        font-family: "Soleil_Light", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 200;
  
        li {
          margin: 28px 0;
          
          p {
            transition: 0.3s linear;
            cursor: pointer;
          }

          p:hover {
            color: #0dc23d;
          }

          span {
            text-transform: uppercase; 
            font-weight: 600;
          }
        }
      }

      .signup {
        margin-top: 40px;

        a {
          text-decoration: none;
          color: #0dc23d;
          transition: 0.2s linear;
        }

        .login {
          border: 2px solid #0dc23d;
          border-radius: 4px;
          padding: 12px 40px;
          width: 60px;
          transition: 0.2s linear;
        }

        .signup:hover {
          color: #329c4e;
        }

        .login:hover {
          border: 2px solid #329c4e;
        }
      }
    }
  }
}