$focus-image: image_url("homepage-focus.png");

.home-a-tag {
  margin-left: 2%;
}

.home-logo-img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.home-logo-text {
  vertical-align: middle;
  font-size: 1.3em;
  font-family: 'Crimson Text', serif;
  color: #3dbe60
}

.home-navbar {
  overflow: hidden;
  background-color: white;
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4px;
}

.home-navbar a {
  color: #383838;
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  min-width: 68px;
  transition: .4s;
  padding: 20px;
}

.home-navbar a:not(:first-child) {
  margin-top: 14px;
  font-weight: 600;
  font-size: 14px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.home-navbar a:hover {
  background-color:white;
  color: #0dc23d;
}

.fa-linkedin, .fa-github {
  font-size: 20px;
}

#nav-demo {
  padding:0;
  float: right;
  margin-right: 10%;
  margin-top: 15px;
  font-family: 'Nunito Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 4px;
  transition: .4s;
}

#nav-demo:hover {
 border: 2px solid #0dc23d;
 color: #0dc23d;
}

#no-space {
  padding:15px 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size:14px;
}

.home-slide {
  float: left;
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 3.5%;
  margin-bottom: 50px;
  max-width: 800px;
  padding: 5px;
  padding-right: 40px;
  width: 46%;
  transition: .5s;
}

.slider-big {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
  font-size: 82px;
}

.slider-small {
  font-family: gotham, helvetica, arial, sans-serif;
  letter-spacing: 0.8px;
  padding-left: 20px;
  padding-right: 55px;
  font-size: 18px;
  color: #b4b4b4;
  transition: .5s;
}

.first-splash {
  margin-top:15px;
  width: 100%;
}

.home-signup-text {
  padding-left: 20px;
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.splash-container {
  margin-top: 60%;
  padding-bottom: 60px;
  
  .splash-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
      
    .splash-img-div {
        display: block;
          
    .splash-img {
        width: 456px;
        height: 456px;
    }
  }

  .splash-content {
    max-width: 300px;
    margin-left: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
      
    h1 {
      margin-bottom: 40px; 
      font-family: 'Arimo', sans-serif;
      font-size: 26px;
      font-weight: 700;
    }
      
    .signup-link {
      margin: 30px;
      text-decoration: none;
      
      a {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-bottom: 5px;
        color: #3dbe60;
        transition: 0.3s linear;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        color: #363636;
      }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .home-slide {
    margin-left: 3.5%;
    margin-right: 3.5%;
    max-width: none;
    width: 91%;
  }
}

@media screen and (max-width: 900px) {
  .splash-container {
    margin-top: 100%;
  }
}

@media screen and (max-width: 700px) {
  .splash-container {
    margin-top: 1000px;
  }
}

@media screen and (max-width: 900px) {
  .home-navbar a:not(:first-child) {
    display: none;
  }
  .home-navbar div a {
    display: none;
  }
  #nav-demo {
    display: block;
  }
}

.focus-splash {
  height: 600px;
  width: 100%;
  border: 1px solid black;
  text-align: center;

  .focus-image-div {
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 120px;

    .focus-image {
      margin: 0 auto;
      border: 1px solid black;
      background-image: $focus-image;
      background-size: 100%;
      width: 120px;
      height: 100%;
    }
  }

  .focus-text {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
  }
}