.home-a-tag {
  margin-left: 10%;
}

.home-logo-img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.home-logo-text {
  vertical-align: middle;
  font-size: 1.3em;
  font-family: 'Crimson Text', serif;
  color: #3dbe60
}

.home-navbar {
  overflow: hidden;
  background-color: white;
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.home-navbar a {
  color: #383838;
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  min-width: 68px;
  transition: .4s;
  padding: 20px;
}

.home-navbar a:not(:first-child) {
  margin-top: 14px;
  font-weight: 600;
  font-size: 14px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.home-navbar a:hover {
  background-color:white;
  color: #0dc23d;
}

@media screen and (max-width: 900px) {
  .home-navbar a:not(:first-child) {
    display: none;
  }
  .home-navbar div a {
    display: none;
  }
}

#nav-demo {
  float: right;
  margin-right: 10%;
  font-family: 'Nunito Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 4px;
  transition: .4s;
}

#nav-demo:hover {
 border: 2px solid #0dc23d;
}

.home-slide {
  float: left;
  margin-top: 50px;
  margin-left: 5%;
  padding: 200px;
  border: 1px solid blue;
}

.home-signup-text {
  padding-left: 30px;
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  font-weight: 700;
}
