.logo-image {
  width:155px;
  height:105px;
}

.form-only {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 20px;
  color: #8a8a8a;
  text-align: center;
  background-color:white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.session-div {
  background-color:#e7e7e7;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .session-div {
    background-color: white;
  }
  .form-only {
    border: none;
  }
}

.button {
  width: inherit;
  padding: 25px 45px;
  border-radius: 7px;
  font-size: 25px;
  letter-spacing: 1.1px;
  font-size: 16px;
  font-weight: 600;
  color: #464646;
  transition: 1s;
}

.session-form{
  width: 100%;
  font-family: gotham, helvetica, arial, sans-serif;
  margin-bottom: 30px;
  
  button {
    width: inherit;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 7px;
    font-size: 1.04em;
    letter-spacing: 1.1px;
  }

  button:hover {
    cursor: pointer;
  }
  
  input {
    width:90%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.04em;
    letter-spacing: 1.1px;
    border-radius: 5px;
    border:.5px solid #d3d3d3;
    transition: .3s;
  }

  input:hover {
    border:.5px solid #47dd7b;
  }

  ::placeholder {
    color: #747474;
    opacity: 0.8;
    transition: .3s;
  }

  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    line-height: 0.1em;
    margin: 20px 0 30px;
  }
  h2 span {
    position:relative;
    top: 10px;
    background: white;
    padding: 10px 10px;
    font: 400 15px system-ui;
    color: #dbdbdb;
  }
}

ol {
  width: 100%;
}

li {
  margin: 5px;
  width: 100%;
}

.remember-me-checkbox {
  display: inline;
  max-width: 12px;
  margin: 4px;
}

.remember-me {
  display: inline;
  color: #7a7a7a;
  letter-spacing: 0.7px;
  position:relative;
  margin-left: 5px;
  bottom:5px;
  font-size: 16px;
}


.logo-text {
  font-size:1.65em;
  color: #8d8d8d;
  margin-bottom: 30px;
  font-family: Zilla Slab, serif;
  font-weight: 100;
}

.submit-button {
  background-color: #2dbe60;
  margin-top:10px;
  color: white;
  transition: 0.3s;
}

.demo-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #464646;
  transition: .2s;
}

.demo-button:hover {
  border:1px solid #17c955;
  color: #3cbb69;
}

.submit-button:hover {
  background-color: #47dd7b;
}

.terms {
  text-decoration: underline;
  color: #888888;
}

.term-p {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom:10px;
  font-size: 14px;
  letter-spacing: .8px;
}

.error-message {
  font-size: 16px;
  padding:3px;
  color: #d80000;
}

a:hover {
  cursor: pointer;
}

.signup-form-container {
  float: right;
  margin-right: 8%;
}

@media screen and (max-width: 1170px) {
  .signup-form-container {
    display: none;
  }
}

.comp-after-form {
  padding-bottom: 40px;
}

.endtext {
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;

  h6 {
    margin: 10px 0;
    font-size: 14px;
    color: #a3a3a3;
  }
  
  a {
    color:#4cca78;
    transition: 0.3s;
    text-decoration: none;
    margin: 20px;
  }

  a:hover {
    color: #228d47;
  }
}
