$delete-notebook: image_url("trash-icon");
$delete-notebook-hover: image_url("trash-icon-hover");
$create-notebook: image_url("add-notebook");
$edit-notebook: image_url('edit-icon');
$edit-notebook-hover: image_url('edit-icon-hover');

.fade-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  animation-duration: .5s;
  z-index: 20;
  transition: 1s;
}

.fade-modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 75px;
  background: rgba(255, 255, 255, 0.8);
  animation-duration: .5s;
  z-index: 10;
}

.slide-modal-child {
  border-right: 2px solid #dadada;
  position: absolute;
  top: 50%;
  left: 231.5px;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.all-notebook-list {
  width: 465px;
}

.modal-notebook-index {
  background-color: white;

  .modal-notebook-notebook {
    text-align: center;
    height:60px;
    border-bottom: 2px solid #eeeeee;


    .modal-notebook-notebook-title {
      padding: 18px;


      p {
        float: left;
        font-family: gotham, helvetica, arial, sans-serif;
        font-size: 21px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        font-weight: 300;
        color: #878787;
      }

      button {
        border: none;
        float: right;
        width: 26px;
        height: 26px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: .2s;
      }

      button:hover {
        cursor: pointer;
      }

      .create-notebook-img {
        display: inline-block;
        background-image: $create-notebook;
      }
    }
  }

  .each-notebook {
    border-bottom: 1px solid #f1f1f1;
    width: 450px;
    height: 50px;
    padding: 8px;
    transition: 0.25s;
    text-align: center;

    .title-div {
      text-align: left;
      width: 330px;
      float:left;
      font-family: 'Slabo 27px', serif;
      font-size: 18px;
      font-weight: 300;
      color: #4a4a4a;
      padding: 5px;
      white-space: nowrap;
      letter-spacing: .5px;
      transform: scale(1, 0.9);
      padding-left:10px;
    }

    .delete-div {
      text-align: right;
      display:inline-block;
      width:100px;  

      button {
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 24px;
        height: 24px;
        transition: .25s;
        margin:5px 8px;
      }

      .index-notebook-delete {
        background-image: $delete-notebook;
      }

      .index-notebook-delete:hover {
        background-image: $delete-notebook-hover;
      }

      .index-notebook-edit {
        background-image: $edit-notebook;
      }

      .index-notebook-edit:hover {
        background-image: $edit-notebook-hover;
      }
    }
  }

  .each-notebook:hover {
    background-color: #3dbe60;
    .index-notebook-delete {
      background-color: #3dbe60;
    }
    .index-notebook-edit {
      background-color: #3dbe60
    }
  }
}