$big-note: image_url("new-notes-big");
$plus_sign: image_url("plus_gray");
$delete-note: image_url("trash-icon");
$delete-note-hover: image_url("trash-icon-hover");

.note-list-id {
  border-right: 1.5px solid rgb(228, 228, 228);
  width: 350px;
  height: 100vh;
  margin: 0;
  float: left;
  display: flex;
  flex-direction: column;

  .all-notes {
    overflow: auto;
  }

  .linebreak-note-list {
    margin: 0 auto;
    width: 300px;
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  .note-list-id-note {
    height: 70px;
    text-align: center;
    vertical-align: middle;
    color: rgb(190, 190, 190);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
    font-weight:100;

    .note-list-notes {
      font-size: 20px;
      color: rgb(114, 114, 114);
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .count {
      font-size: 16px;
    }
  }

  .note-list-tag-note {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: rgb(190, 190, 190);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight:100;
  }

  .note-list-id-title {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height: 120px;
    background-color: #393d41;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(211, 211, 211);
    font-family: 'Rokkitt', serif;
    padding-top: 30px;
    font-size: 25px;
    letter-spacing: .7px;
    margin-bottom: 30px;
  }

  .tag {
    background-color: white;
    height: 80px;
    font-size: 24px;
    color: #727272;
    text-align: left;

    .tag-title {
      margin-left: 25px;

      p {
        font-family: 'Montserrat', sans-serif;
        width: 300px;
        overflow: hidden;
        font-size: 24px;
        font-weight: 100;
      }
    }
  }
}

.modal-empty-note {
  width: 350px;
  text-align: center;

  .modal-empty-note-big-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 80px;
    height: 75px;
    margin: 170px auto 20px;
    background-image: $big-note
  }
  .modal-empty-note-content {
    width: 350px;
    margin: 0 auto;

    h4 {
      font-family: 'Slabo 27px', serif;
      vertical-align: middle;
      color: rgb(126, 126, 126);
      transform: scale(1, 0.9);

      .plus-img {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: $plus_sign;
        width: 20px;
        height: 20px;
      }
    }
    p {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      width: 280px;
      font-family: gotham, helvetica, arial, sans-serif;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.5px;
      color: #929292;
    }
  }
}

.each-note {
  width: 334px;
  height: 100px;
  padding: 8px;
  transition: 0.25s;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid rgb(241, 241, 241);

  .title-div {
    text-align: left;
    width: 260px;
    float: left;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    font-weight: 200;
    color: #5f5f5f;
    padding: 5px;
    white-space: nowrap;
    letter-spacing: .5px;
    transform: scale(1, 0.9);
    padding-left: 10px;

    .index-note-title {
      margin-bottom: 4px;
    }

    .note-date {
      color: #acacac;
      font-size: 13px;
      letter-spacing: 0.5px;
      transform: scale(0.9, 1);
      font-family: 'Montserrat', sans-serif;
      position: relative;
      right: 12px;
      margin-bottom: 10px;
    }

    .note-body {
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #8b8b8b;
      height: 20px;
      overflow: hidden;
      margin-top: 6px;
    }
  }

  .delete-div {
    text-align: right;
    display: inline-block;
    width: 25px;
    margin-top: 9px;

    button {
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 24px;
      height: 24px;
      transition: .25s;
    }
    .index-note-delete {
      background-image: $delete-note;
    }
    .index-note-delete:hover {
      background-image: $delete-note-hover;
    }
  }
}

.each-note:hover {
  background-color: #3dbe60;
  .title-div {
    color: rgb(243, 243, 243);

    .note-date, .note-body {
      color: rgb(243, 243, 243);
    }
  }
  .index-note-delete {
    background-color: #3dbe60;
  }
}

.full-list {
  height: 70px;

  padding: 20px 10px 10px 10px;
}