.sidebar-div {
  float: left;
  border: 1px solid black;
  width: 75px;
  height: 1000px;
  background-color: rgb(223, 223, 223);

  div {
    margin: 10px 0;
    border: 1px solid blue;
    text-align: center;
  }

  .sidebar-logo {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
