$new-note-icon: image_url("new-note-icon.png");
$new-note-hover: image_url("new-note-hover.png");
$meeting-hover: image_url("new_meeting_note_hover");
$meeting: image_url("new_meeting_note");
$search: image_url("search");
$search_hover: image_url("search_hover");
$workchat: image_url("work_chat");
$workchat_hover: image_url("work_chat_hover");
$star: image_url("star");
$star_hover: image_url("star_hover");
$notes: image_url("note-icon");
$notes_hover: image_url("note-icon-hover");
$notebooks: image_url("notebook-icon");
$notebooks_hover: image_url("notebook-icon-hover");
$tags: image_url("tag-icon");
$tags_hover: image_url("tag-icon-hover");

.sidebar-div {
  position: relative;
  float: left;
  width: 75px;
  height: 100vh;
  background-color: #f3f3f3;
  z-index:15;

  .sidebar-space {
    padding: 24px 0;
  }

  .sidebar-outer-div {
    margin: 4px 0;
    padding: 4px;
    text-align: center;
    
    .sidebar-inner-div {
      button {
        width: 35px;
        height: 35px;
        border:1px solid rgb(0, 214, 0);
        border-radius: 50%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: .2s;
      }

      button:focus{
        outline:none;
      }

      .new-note-img {
        background-image: $new-note-icon;
      }

      .new-note-img:hover {
        background-image: $new-note-hover;
      }

      .meeting-img {
        background-image: $meeting;
      }

      .meeting-img:hover {
        background-image: $meeting_hover;
      }

      .search-img {
        background-image: $search;
      }

      .search-img:hover {
        background-image: $search_hover;
      }

      .workchat-img {
        background-image: $workchat;
      }

      .workchat-img:hover {
        background-image: $workchat_hover;        
      }

      .star-img {
        background-image: $star;
        background-color: #f3f3f3;
        border: none;
      }

      .star-img:hover {
        background-image: $star_hover;
      }

      .notes-img {
        background-image: $notes;
        background-color: #f3f3f3;
        border: none;
      }

      .notes-img:hover {
        background-image: $notes_hover;
      }

      .notebooks-img {
        background-image: $notebooks;
        background-color: #f3f3f3;
        border: none;
      }

      .notebooks-img:hover {
        background-image: $notebooks_hover;
      }

      .tags-img {
        background-image: $tags;
        background-color: #f3f3f3;
        border: none;
      }

      .tags-img:hover {
        background-image: $tags_hover;
      }
    }
  }

  .sidebar-logo {
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 16px;
  }
}

#sidebar-account {
  position: sticky;
  top: 100%;
  height: 80px;
}

.linebreak-sidebar {
  margin:0 auto;
  width: 45px;
  border: 1px solid rgb(219, 219, 219);
  margin-top: 70%;
}

.fa-sign-out-alt {
  font-size: 25px;
  padding: 20px 10px 17px 20px;
  color:  rgb(0, 189, 0);
}

.logout-button {
  margin: 0 auto;
  border: none;
  background-color: #f3f3f3;
}
